.ContainerAdd{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom:0.5px solid black;
}

.rowAdd{
    width: 90%;
    margin-left: 5%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.rowAddButton{
    width: 50%;
    margin-left: 25%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
}

.formLabelAdd{
    width: 25%;
}

.formInput{
    width: 75%;
}
.formSelect{
    width: 75%;
}

.AddButton{
    padding: 10px;
    width: 20%;
    border:0.5px solid black;    
    background-color: transparent;
}

.AddButton:hover{
    transition: 1s;
    background-color: #00BB2D;
    color: white;
}

.AddButtonClose{
    padding: 10px;
    width: 20%;
    border:0.5px solid black;    
    background-color: transparent;
}

.AddButtonClose:hover{
    transition: 1s;
    background-color: red;
    color: white;
}