body{
    background-color: white;  
}
.container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    flex-direction: column;
    
}

.navbar{
    background-color: #66FF00;
    margin: 0;
}

.ContainerAdd{
    flex-direction: row;
    width: 90vw;
    margin-left: 5vw;
}

.containerElementi{
    width: 90vw;
    margin-left: 5vw;
}

.row{
    position: relative;
    width: 90%;
    margin-left: 5%;
}

button{
    z-index: 1;
}


/*----LISTE----*/

#todoList{
    float: left;
    width: 45%;
    height: auto;
}
#doneList{
    float: right;
    width: 45%;
    height: auto;
}
tr, td{
    border: 1px solid;
    font-size: 30px;
    border-radius: 10px;
    background-color: lightgray;
}
button{
    font-size: 30px;
    border-radius: 10px;
}
table{
    border: 1px solid;
    font-size: 30px;
    border-radius: 10px;
    background-color: black;
}

.rowList{
    margin-top: 30px;
}

/*----TITOLO-----*/

#titolo{
    color: white;
    background-color: black;
    height: 30px;
}
h1{
    color: black;
    text-align: center;
}

/*----ELEMENTI----*/

.elemento{
    height: 30px;
    width: 50%;
}

/*----ADD----*/

.AddButton{
    height: 30px;
    font-size: 15px;
}

.formLabelAdd{
    color: black;
}

/*----MMODIFY----*/
.imgModify{
    height: 20px;
    width: auto;
}
.formLabelModifyTitle{
    font-size: 50px;
    color: black;
}
.formLabelModify{
    font-size: 25px;
    color: black;   
}

/*----CHECK----*/
.imgCheck{
    height: 20px;
    width: auto;
}