body {
    background-color: black;
}

.vertical-menu {
    width: 200px;
    float: right;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: rgb(136, 128, 128);
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}
th {
    text-align: left;
}
.trattino{
    text-align: center;
}
table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    color: white;
}
button {
    width: 100%;
}