li{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: square;
}

h1{
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0px;
}

div{
    color: #fff;
    margin: 5px;
}

#todo-content{
    width: fit-content;
    float: left;
    background-color:#4F628E;
    
}

#done-content{
    width: fit-content;
    float: left;
    background-color:#7887AB;
}