.container{
    position: absolute;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 33vh;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
    border-radius: 50px;
}
.row{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    padding: 10px;
}
.formInput{
    width: 80%;
}
.formButton{
    padding:10px;
    border-radius: 10px;
}
.formButton:hover{
    cursor: pointer;
}