h2{

}

#title{
    text-align: left;
    background-color: rgb(172, 172, 172);

}

#all{
    color:rgb(65, 56, 56);
    padding: 20px;
    background-color: gainsboro;
}

#todo{
    float: left;
}

#done{
    margin-left: 70px;
    color:rgb(110, 110, 110);
    padding-left: 20px;
}

#button1{
    background-color: rgb(134, 189, 134);
    border: none;
    padding: 3px;
    transition-duration: 0.3s;
    border: 2px solid rgb(134, 189, 134);
}

#button1:hover{
    background-color: gainsboro;
    color:rgb(134, 189, 134);
    border: 2px solid rgb(134, 189, 134);
}
