body{
    background-color: yellow;
}
table{
      border: 1px solid;
      font-size: 30px;
      border-radius: 10px;
      background-color: black;

    }
    
    tr,td{
      border: 1px solid;
      font-size: 30px;
      border-radius: 10px;
      background-color: yellow;

    }

    #titolo{
      color: yellow;
      background-color: black;
      text-align: center;
    }

   .elimina{
    color: rgb(110, 5, 5);
    width: 130px;
    cursor: default;
   } 
   .cambia{
    color: green;
    width: 130px;
    cursor: default;

   } 

   .modifica{
    width: 80px;
    cursor: default;


   }

   h1{
    text-align: center;
    color: black;
    text-shadow: 0 0 3px #FF0000;  
    border: 3px solid black;
    width:40%;
   }

   #List{
    display: flex;
    justify-content:center;
    padding-bottom: 100px;
   }

   #List2{
    display: flex;
    justify-content:center;
   }

   h2{
    text-align: center;
    color: black;
    text-shadow: 0 0 3px #FF0000;  
   }

  #todoList{
    width: 700px;
  }  
  
  #todoList1{
    width: 700px;
  }   

  .container{
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  

  #select{
    font-size: 25px;
    width: 100px;
    height: 35px;
  }

  #cosa{
    font-size: 20px;
    height: 50px;
    width: auto;    
  }

  #label{
    font-size: 20px;
  }

  #aggiungi{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
  }

  #indietro{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
  }

  #Signin{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;

  }

  #Login{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;

  }
  

