body{
    background-color: yellow;
}
table{
      border: 1px solid;
      font-size: 30px;
      border-radius: 10px;
      background-color: black;

    }
    
    tr,td{
      border: 1px solid;
      font-size: 30px;
      border-radius: 10px;
      background-color: yellow;

    }

    #titolo{
      color: yellow;
      background-color: black;
      text-align: center;
    }

    #autore{
      color: black;
      background-color: orange;
      text-align: center;
      width: 170px;

    }

   .elimina{
    color: rgb(110, 5, 5);
    width: 120px;
    cursor: default;
   } 
   .cambia{
    color: green;
    width: 100px;
    cursor: default;

   } 

   .modifica{
    width: 70px;
    cursor: default;


   }

   h1{
    text-align: center;
    color: black;
    text-shadow: 0 0 3px #FF0000;  
    border: 3px solid black;
    width:40%;
   }

   #List{
    display: flex;
    justify-content:center;
    padding-bottom: 80px;
    
   }

   #dati{
    width: 300px;
    }

    #dati1{
      display: flex;
      justify-content: center;
    }

   #List2{
    display: flex;
    justify-content:center;
   }

   h2{
    text-align: center;
    color: black;
    text-shadow: 0 0 3px #FF0000;  
   }

  #todoList{
    width: 700px;
  }  
  
  #todoList1{
    width: 700px;
  }   

  .container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .container2{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 70px;
  }

#insieme{
  
  margin-top: 50px;
  margin-bottom: 50px;

}
  

  #select{
    font-size: 25px;
    width: 100px;
    height: 35px;
  }

  #selectUtenti{
    font-size: 25px;
    width: 100px;
    height: 35px;
  }

  #cosa{
    font-size: 20px;
    height: 50px;
    width: auto;    
  }

  #userUtente{
    font-size: 20px;
    height: 50px;
    width: auto;
  }

  #passUtente{
    font-size: 20px;
    height: 50px;
    width: auto;
  }

  #password{
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
  }

  #username{
    font-size: 20px;
    height: 50px;
    width: auto;    
    border-radius: 10px 10px 10px 10px;
    

  }

  #label{
    font-size: 21px;
  }

  #labelPassword{
    font-size: 25px;
    height: 50px;
    width: auto;    
    color:black;
  }


  #labelUsername{
    font-size: 25px;
    color:black;
  }

  #aggiungi{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: lightblue;
  }

  #aggiungiUtente{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: lightblue;
  }
   
  #accesso{
    width:200px;
  }

  #indietro{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: red;
  }

  #indietroUtente{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: red;
  }

  #logout{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: red;
    color:black;    
  }

  #Signin{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: green;
    margin-right: 3%;

  }

  #Login{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: green;
    
  }

  #deleteAccount{
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    color:red;
  }

  #show{
    margin-top: 8px;
  }
  

#amministratore{
  font-size: 25px;
  border-radius: 10px 10px 10px 10px;
  background-color: black;
  color:yellow;
}

#modificaAccount{
  font-size: 25px;
  border-radius: 10px 10px 10px 10px;
  background-color: black;
  color:yellow;
}

#Exit{
  font-size: 25px;
  border-radius: 10px 10px 10px 10px;
  background-color: black;
  color:yellow;
}

#adminPage{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#lis{
  width:200px;
  background-color: orange;
}