<!DOCTYPE html>

<html>
    <head onload="isSU()">
        
        <title>todo</title>
        <link rel="stylesheet" href="stylesheet.css"/>


    </head>
    <body onload="grossaTavola()" >
        <p id="giacomo">Task da fare</p>
        <div id="todo-location"></div>
        <p id="samuele">Task fatte</p>
        <div id="done-location"></div>
        <button id="button1" type="button" onclick="addTask()">Aggiungi task</button>
        <button id ="button2" type="button" onclick="scambio()">Elimina task</button>
        <button id ="button3" type="button" onclick="modify()">Modifica task</button>
        <button id="button4" type="button" onclick="addUser()">Aggiungi utente</button>
        
        

        <script>
            
           
                
            
                if("<%= isSU %>" == 0){
                    console.log("<%= isSU %>");
                    document.getElementById("button4").style.display = 'none';
                }
            
            console.log("<%= isSU %>");
            
            //Funzione per creare la tabella
                function initialize(x){
                
                    
                    var list = document.createElement("ul");
                    list.setAttribute("id", "todo-list");
                    var list2 = document.createElement("ul");
                    list2.setAttribute("id", "done-list");
                    for(i = 0; i < x.length; i++){
                       
                        if(x[i].stato == "todo"){
                            var str = "" + x[i].task;
                            str = str.replace(/ /g, "_");
                            var child = document.createElement("li");
                            child.setAttribute("id", str);
                            child.innerHTML = x[i].task;
                            child.setAttribute("onclick", "changeStatus(id)");
                            list.appendChild(child);
                            document.getElementById("todo-location").appendChild(list);
                        } else{
                            var str = "" + x[i].task;
                            console.log(x[i].task)
                            str = str.replace(/ /g, "_");
                            var child = document.createElement("li");
                            child.setAttribute("id", str);
                            child.innerHTML = x[i].task;
                            child.setAttribute("onclick", "changeStatus(id)");
                            list2.appendChild(child);
                            document.getElementById("done-location").appendChild(list2);
                        }
                    }
            }

            function addUser(){

                usn = prompt("Nome dell'utente:");
                pwd = prompt("Password dell'utente:");
                isSuper = confirm("Vuoi inserire l'utente come amministratore?");
                truex = usn + " " + pwd + " " + isSuper;
                fetch("/addUser", {
                    method: "post",
                    headers: {
                        "Content-Type" : "text/plain"
                    },
                    body: truex
                })
                .then(response => {
                    if(!response.ok){
                        throw new Error('Errore fetch ' +response.status);
                    }
                    return response.json();
                })
                

            }
            function scambio(){
                var elementiLista = document.getElementById("todo-list");
                var elementiLista2 = document.getElementById("done-list");
                for(i = 0; i < elementiLista.childNodes.length; i++){
                    var aux = elementiLista.childNodes[i].id;
                    console.log(aux);
                    var toPrint = "elimina(" + aux + ")";
                    console.log(toPrint);
                    elementiLista.childNodes[i].setAttribute("onclick", toPrint);
                    elementiLista.childNodes[i].style.color = "red";
                    console.log(elementiLista.childNodes[i]);
                }

                for(i = 0; i < elementiLista2.childNodes.length; i++){
                    var aux = elementiLista2.childNodes[i].id;
                    console.log(aux);
                    var toPrint = "elimina(" + aux + ")";
                    console.log(toPrint);
                    elementiLista2.childNodes[i].setAttribute("onclick", toPrint);
                    elementiLista2.childNodes[i].style.color = "red";
                    console.log(elementiLista.childNodes[i]);
                }
                console.log(elementiLista.childNodes[0]);

            }
            function changeStatus(x){
                truex = x.replace(/ /g, " ");
                fetch("/moveTask", {
                    method: "post",
                    headers: {
                        "Content-Type" : "text/plain"
                    },
                    body: truex
                })
                .then(response => {
                    if(!response.ok){
                        throw new Error('Errore fetch ' +response.status);
                    }
                    return response.json();
                })

                window.location.reload();

           
                
            
            }

            

            
                //funzione che fa comparire la conferma per eliminare
            function elimina(x){
                
                console.log(x.id);
                let text ="Vuoi eliminare l'elemento?";
                    console.log("dentro ad elimina: " + x);
                if(confirm(text) == true){
                    checkName(x.id);
                    console.log(x.id);
                    //window.location.reload();
                }
            }
                //funzione che nel concreto elimina
            function checkName(x){

                var truex = x.replace(/_/g, " ");

                fetch("/removeTask", {
                    method: "post",
                    headers: {
                        "Content-Type" : "text/plain"
                    },
                    body: truex
                })
                .then(response => {
                    if(!response.ok){
                        throw new Error('Errore fetch ' +response.status);
                    }
                    return response.json();
                })

                window.location.reload();
            };
                
                

            
            function grossaTavola(){
                fetch('/getTable')
                    .then(response => {   
                        
                        return response.json();
                    
                    })
                    .then(json => {
                        
                        console.log(json);
                        initialize(json)
                    }
                    
                    )
                .catch(err => console.error('Errore creazione tabella ' + err.message));

            }
                
                function addTask(){
                const request = new XMLHttpRequest();

                var task = prompt("scrivi la roba");


                var oggettoDaMandare = {
                    cosa : task,
                    
                }
                console.log(oggettoDaMandare.stato);

                var oggettoStringato = JSON.stringify(oggettoDaMandare);
                console.log(oggettoStringato);
                request.open('POST', '/aaaa', true);
                request.setRequestHeader('Content-Type', 'application/json');
                request.send(oggettoStringato);
                request.open('GET', '/getTable', true);
                request.setRequestHeader('Content-Type', 'application/json');
                request.send();
                
                window.location.reload();
                
            }


            function modify(){
                elementiLista = document.getElementById("todo-list");
                elementiLista2 = document.getElementById("done-list");
                for(i = 0; i < elementiLista.childNodes.length; i++){
                    var aux = elementiLista.childNodes[i].id;
                    console.log(aux);
                    var toPrint = "modifyData(" + aux + ")";
                    console.log(toPrint);
                    elementiLista.childNodes[i].setAttribute("onclick", toPrint);
                    elementiLista.childNodes[i].style.color = "green";
                    console.log(elementiLista.childNodes[i]);
                }

                for(i = 0; i < elementiLista2.childNodes.length; i++){
                    var aux = elementiLista2.childNodes[i].id;
                    console.log(aux);
                    var toPrint = "modifyData(" + aux + ")";
                    console.log(toPrint);
                    elementiLista2.childNodes[i].setAttribute("onclick", toPrint);
                    elementiLista2.childNodes[i].style.color = "green";
                    console.log(elementiLista.childNodes[i]);
                }
                console.log(elementiLista.childNodes[0]);

            }


            function modifyData(x){
                console.log(x);
                spliced = x.id.replace(/_/g, " ");
                console.log("wewe");
                modify = prompt("Scrivi la roba");
                truex = {
                    nomeElemento : spliced, 
                    modifica : modify
                }
                truex = JSON.stringify(truex);
                fetch("/modify", {
                    method: "post",
                    headers: {
                        "Content-Type" : "application/json"
                    },
                    body: truex
                })
                .then(response => {
                    if(!response.ok){
                        throw new Error('Errore fetch ' +response.status);
                    }
                    return response.json();
                })

                window.location.reload();
                            
            }


            
     
        </script>
        
    </body>

</html>